@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

h1, h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

label {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#rangeLabel {
    display: flex;
    align-items: center;
}

label input {
    width: 100%;
    padding: 5px;
    padding-left: 60px;
    font-size: 20px;
}

label p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(27, 27, 27);
    padding: 8px 15px;
}

label div {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgb(27, 27, 27);
    padding: 8px 15px;
}

.results-area {
    display: none;
    text-align: center;
}

.results-area div {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.results-area div p {
    padding: 10px 10px;
    border-right: 1px solid black;
}

.results-area div span {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}